<li>
  <a href="">
    <span class="date">{{ date }}</span>
    <span class="text">{{ text }}</span>
    {% if img %}
      <div class="image-wrapper"><img src="{{ img }}" alt="{{ alt }}"></div>
    {% endif %}
    <span class="alt">{{ alt }}</span>
  </a>
</li>