<li class="{{ liClass }}">
  <a href="{{ link }}">
    {% if date %}
      <span class="date">{{ date }}</span>
    {% endif %}
    <span class="text">{{ text }}</span>
    {% if image %}
      <div class="image-wrapper"><img src="{{ image }}" alt="{{ alt }}"></div>
    {% endif %}
  </a>
  {% if timelineItems %}
    <ul class="sub-items">
      {% for item in timelineItems %}
        {{ item | raw }}
      {% endfor %}
    </ul>
  {% endif %}
</li>
