

<div class="card {{ color }} {{ class }} {{ background }}">

    {% if img %}
      <div class="image-wrapper">
        {%  if link %} <a href="{{ link }}"> {% endif %}
          <img src="{{ img }}" alt="">
        {%  if link %} </a> {% endif %}
      </div>
    {%  endif %}

    <div class="content">
      {% if title %} <h3>{{ title }}</h3> {% endif %}
      {% if text %} <p>{{ text }}</p> {% endif %}
    </div>

    {% if button %}
      {% if link %} <a class="btn" href="{{ link }}">{{ button }}</a> {% endif %}
    {% endif %}

</div>