<div class="sliderItem">
    {% if img %}
        <div class="slider-img"><img src="{{ img }}"/></div>
    {% endif %}
    <div class="slider-panel">
        <div class="slider-title">{{ title }}</div>
        <div class="slider-content">{{ content | raw}}</div>
    </div>
    <a class="btn" href="{{ link }}">{{ label }}</a>
</div>