<div class="wdf-tabs js-tabs has-{{ tabItems|length }}-tabs">
  <ul class="js-tablist">

    {% for tabItem in tabItems %}
      <li class="js-tablist__item {{ (tabItem.class) ? 'tablist-item-'~tabItem.class : '' }}">
        <a href="#tab{{ (tabItem.id) ? tabItem.id :  loop.index }}" class="js-tablist__link">{{ tabItem.title }}</a>
      </li>
    {% endfor %}
  </ul>
  {% for tabItem in tabItems %}

    <div id="tab{{ (tabItem.id) ? tabItem.id :  loop.index }}" class="js-tabcontent {{ (tabItem.class) ? 'tabcontent-'~tabItem.class : '' }}">
      <div>{{ tabItem.content | raw }}</div>
    </div>

  {% endfor %}

</div>
